body {
    background-color: rgba(240, 218, 213, 0.3);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    display: grid;
    grid-template-rows: 2fr repeat(5, 1fr);
    justify-items: stretch;
    width: 400px;
    height: 500px;
    margin: 55px auto;
    background-color: burlywood;
    border-radius: 15px;
}

.display-line {
    display: grid;
    grid-template-columns: 1fr;
}

.second-line {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.numbers-line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.last-line {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.btn-calc {
    font-size: 2.5rem;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.btn-calc:hover {
    background-color: rgb(228, 203, 171);
}

.btn-calc:active {
    background-color: rgba(228, 203, 171, 0.5);
    transform: translateY(0.5px);
    /* border: 0px; */
}

#display-screen {
    font-size: 3rem;
    text-align: right;
    padding: 20px;
    /* border: 1px solid black; */
    border-radius: 15px 15px 0 0;
    background-color: black;
    color: burlywood;
    white-space: pre-wrap;
    overflow: hidden;
    /* display: grid;
    grid-template-columns: 1fr; */
}

#num-0 {
    border-radius: 0 0 0 15px;
}

#equal-btn {
    border-radius: 0 0 15px 0;
}